# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.auto.tfvars

# Terraform lock file
.terraform.lock.hcl